<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ciex.edu.mx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
     needed for older devices -
     used to check app background / foreground status
    -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- START Added for GCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="ciex.edu.mx.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ciex.edu.mx.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- END Added for GCM -->
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_oa"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BookActivity"
            android:label="@string/title_activity_book"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UnitActivity"
            android:label="@string/title_activity_unit"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BookActivity" />
        </activity>
        <activity
            android:name=".activity.CoursesActivity"
            android:label="@string/title_activity_room"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.UnitActivity" />
        </activity>
        <activity
            android:name=".activity.MessagessActivity"
            android:label="@string/title_activity_chat_room_discussion"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CoursesActivity" />
        </activity>
        <activity
            android:name=".activity.WebActivity"
            android:label="@string/title_activity_web"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.UnitActivity" />
        </activity>
        <activity
            android:name=".activity.ExerciseActivity"
            android:label="@string/title_activity_lesson"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.UnitActivity" />
        </activity>

        <!-- START Added for GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="ciex.edu.mx" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".connection.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGcmPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.GcmIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- END Added for GCM -->

        <activity
            android:name=".activity.FullScreenViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_full_screen_view"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.ResourceActivity"
            android:label="@string/title_activity_resource"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>